{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "eol-last": ["error", "always"],
    "no-trailing-spaces": "error",
    "comma-dangle": ["error", "never"],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "multiline": true },
      "ObjectPattern": { "multiline": true },
      "ImportDeclaration": { "multiline": true },
      "ExportDeclaration": { "multiline": true }
    }],
    "import/no-extraneous-dependencies": false,
    "function-paren-newline": ["error", "consistent"],
    "jsx-a11y/click-events-have-key-events": false,
    "jsx-a11y/no-noninteractive-element-interactions": false
  }
}
