// $portrait-phone-max-width: 575px;
$landscape-phone-min-width: 576px;
// $landscape-phone-max-width: 767px;
// $tablet-min-width: 768px;
// $tablet-max-width: 991px;
$small-desktop-min-width: 992px;
// $small-desktop-max-width: 1199px;
$large-desktop-min-width: 1200px;

.movieItem {
  width: 100vw;
  margin: 0;
}

.poster {
  width: 100%;
}

.movieTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.movieYear {
  border: 1px solid grey;
  float: right;
}

.movieGenre {
  color: grey;
  flex-grow: 2;
}

@media screen and (min-width: $landscape-phone-min-width) {
  .movieItem {
    width: 44vw;
    margin: 2vw;
  }
}

@media screen and (min-width: $small-desktop-min-width) {
  .movieItem {
    width: 28vw;
  }
}

@media screen and (min-width: $large-desktop-min-width) {
  .movieItem {
    width: 20vw;
  }
}
