$landscape-phone-min-width: 576px;
$small-desktop-min-width: 992px;
$large-desktop-min-width: 1200px;

$dimgrey: dimgrey;
$grey: grey;
$lightgrey: lightgrey;
$white: white;
$black: black;
$red: Crimson;
