.searchBar {
  background-color: dimgrey;
  color: white;
  padding: .5em;
}

.searchBarTitle {
  text-transform: uppercase;
}

.searchInput {
  width: 98%;
  padding: .8em;
  background-color: black;
  color: inherit;
  border: none;
  border-bottom: 1px solid red;
}
.searchFooter {
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBy {
  text-transform: uppercase;
}

.searchByBtns {
  flex-grow: 2;
}

.searchByTitleBtn, .searchByGenreBtn, .searchBtn {
  margin: .3em;
  padding: .6em;
  background-color: red;
  color: white;
  border: none;
}

.searchBtn {
  margin: .2em;
  padding: .8em;
  width: 15vw;
  background-color: red;
  color: white;
  border: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding: .5em;

  a {
    margin: .5em;
  }
}
