@import '../../../../../styles/constants.scss';

.sortInfo {
  display: flex;
  justify-content: space-between;
  background-color: $lightgrey;
  padding: .5em;

  a {
    margin: .5em;
    cursor: pointer;
  }
}
